{"config_file": "/home/ad/barrouz/code/config/spotify_job_35_SPOT1_HRV1.config", "input_csv": "/home/ad/barrouz/zacharie/TEST_CODE/CSVS/PATCHES.csv", "index": "35", "target_sat": "SPOT1", "target_ins": "HRV1", "draws": 1, "add_sat": true, "work_dir": "/home/ad/barrouz/zacharie/TEST_CODE", "library": "/home/ad/barrouz/code/satellite_library.json"}