{"config_file": "/home/ad/barrouz/code/config/spotify_job_25_SPOT5_HRG1.config", "input_csv": "/home/ad/barrouz/zacharie/TEST_CODE/CSVS/PATCHES.csv", "index": "25", "target_sat": "SPOT5", "target_ins": "HRG1", "draws": 1, "add_sat": true, "work_dir": "/home/ad/barrouz/zacharie/TEST_CODE", "library": "/home/ad/barrouz/code/satellite_library.json"}