{"config_file": "/home/ad/barrouz/code/config/step2_model_PYR_SPOT1.config", "input_csv": "/home/ad/barrouz/zacharie/TEST_CODE/CSVS/PATCHES_TRAIN_TEST.csv", "sat": "SPOT1", "model": "PYR_SPOT1", "channels": ["XS1", "XS2", "XS3", "HILL", "DEM"], "draws": 1, "tiles": ["30TXN", "30TYN", "31TCH", "31TDH"], "work_dir": "/home/ad/barrouz/zacharie/TEST_CODE", "epochs": 200, "learning_rate": 0.0001, "patience": 200}